.dropzone{

border:3px dashed #CBD5E1;

border-radius:20px;

padding:60px;

margin-bottom:40px;

cursor:pointer;

transition:.3s;

background:#F8FAFC;

}

.dropzone:hover{

border-color:#2563EB;

background:#EFF6FF;

}

.dropzone-content{

display:flex;

flex-direction:column;

align-items:center;

text-align:center;

gap:20px;

}

.upload-icon{

font-size:70px;

}

.dropzone h2{

font-size:32px;

color:#111827;

}

.dropzone p{

font-size:18px;

color:#64748B;

}

.dropzone button{

padding:14px 30px;

font-size:18px;

background:#2563EB;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

}

.dropzone button:hover{

background:#1D4ED8;

}

.dropzone span{

color:#64748B;

font-size:15px;

}